h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}
div{
    position: absolute;
}
#diez_de_diamantes {
    top: 100px;
    left: 100px;
    z-index: 1;
}
#sota_de_diamantes {
    top: 115px;
    left: 115px;
    z-index: 2;
}
#reina_de_diamantes {
    top: 130px;
    left: 130px;
    z-index: 3;
}
#rey_de_diamantes {
    top: 145px;
    left: 145px;
    z-index: 4;
}
#as_de_diamantes {
    top: 160px;
    left: 155px;
    z-index: 5;
}