@import url(https://fonts.googLeapis.com/css?family=Muli);
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Muli', sans-serif;
    text-align: justify;
    margin-top: 200px;
    margin-bottom: 100px;
}
header{
    background-color: #16A085;
    height: 130px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
footer{
    margin-top: 20px;
    background: #16A085;
    height: 50px;
    position: fixed;
    bottom:  0;
    left: 0;
    right: 0;
}
header div, footer div{
    width: 80%;
    margin: 0 auto;
    color: white;
}
h1{
    font-size: 2.3rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}
h2{
    font-size: 2rem;
}
section{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
section article{
    font-size: 0.9rem;
    height: 340px;
    width: 32.33%;
    margin: 0.5%;
    border: 2px dashed #16A085;
    padding: 1%;
    box-sizing: border-box;
    overflow: hidden;
}
section article img{
    height: 180px;
    max-width: 80%;
    display: block;
    margin: 5PX auto;
}
h3{
    text-align: center;
}
footer div{
    padding-top: 1rem;
}
section article:nth-child(2){
    background-color: rgba(70, 130, 180, 0.9);
    position: static;
    left: 100px;
    top: 50px;
    display: none;
}